parameters:
    connector_service.class: RG\ConnectorService
    report_service.class: RG\ReportService
    event_dispatcher.class: Symfony\Component\EventDispatcher\ContainerAwareEventDispatcher
    report_templating_helper.class: RG\RenderEngine\ReportTemplatingHelper
    storage_service.class: RG\Storage

services:
    connector_service:
        class: RG\ConnectorService
        arguments: [%connectors%, @buzz, @proxy_service, %connection%, %responses%]
    report_service:
        class: RG\ReportService
        arguments: [@service_container]
    event_dispatcher:
        class: Symfony\Component\EventDispatcher\ContainerAwareEventDispatcher
        arguments: [@service_container]
    report_templating_helper:
        class: RG\RenderEngine\ReportTemplatingHelper
        arguments: [%report_assets%, %web_path%]
    storage_service:
        class: RG\Storage
        arguments: [%storage_path%]
    proxy_service:
        class: RG\Proxy
        arguments: [%proxy_path%]
